
.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,    1fr));
  gap:2rem;
  margin:15px;
}
.card-eskul{
  border:1px solid rgb(90, 90, 90);
  padding:10px;
  background:rgba(227, 180, 48, 0.9);
  backdrop-filter:blur(10px);
  cursor:pointer;
  border-radius:5px;
  transition: transform 0.3s ease;
}
.card-eskul h4{
  font-family:'Roboto', serif;
  font-weight:600;
  font-size:20px;
  padding:5px 5px;
}
.card-eskul p{
  font-family:'Roboto', sans-serif;
  font-weight:200;
  font-size:15px;
  padding:5px 15px;
}
.card-eskul:hover{
  transform: translateX(-10px) scale(1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30);
  border:none;
}
.card-eskul img{
  width:100%;
  aspect-ratio:2/1;
  object-fit:cover;
  overflow:hidden;
  border-radius:5px;
}
.card-eskul a{
  width:10%;
  margin-top:20px;
  height:35px;
  padding:10px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:15px;
  font-family:'Saira', sans-serif;
  font-weight:400;
  border-radius:10px;
  border:1px solid #111;
   position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.1);
  color: white;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  cursor:pointer;
  background:rgb(201, 149, 0);
}
.card-eskul a:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: rgba(30, 90, 168, 0.90);
  z-index: -1;
 border-radius:inherit;
}
.card-eskul a:hover, .card-eskul a:focus {
  color: white;
}

.card-eskul a:hover:before, .card-eskul a:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.card-eskul a:active {
  transform: scale(0.9);
}
.berita h3{
  border-left:5px solid #1e5aa8d9;
  padding-left:10px;
  margin-left:5px;
  color:black;
  font-size:20px;
  margin-top:4rem;
}
.pesan h3{
  border-left:5px solid #1e5aa8d9;
  padding-left:10px;
  margin-left:5px;
  color:black;
  font-size:20px;
  margin-bottom: 1vh;
}